workflow.json
{
  "name": "Super-Powered Free HTTP Deal Detector",
  "active": false,
  "nodes": [
    {
      "name": "Full Site Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [150, 100],
      "parameters": {
        "triggerTimes": [{"mode":"interval","value":5,"unit":"minutes"}]
      }
    },
    {
      "name": "Category Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [150, 200],
      "parameters": {
        "triggerTimes": [{"mode":"interval","value":2,"unit":"minutes"}]
      }
    },
    {
      "name": "Trending Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [150, 300],
      "parameters": {
        "triggerTimes": [{"mode":"interval","value":30,"unit":"seconds"}]
      }
    },
    {
      "name": "Flipkart Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 50],
      "parameters": {
        "url": "https://www.flipkart.com/search?q={{ $json.keywords || 'electronics' }}",
        "method": "GET",
        "responseFormat": "string",
        "options": {"timeout":15000,"continueOnFail":true},
        "headers":{"User-Agent":"Mozilla/5.0"}
      }
    },
    {
      "name": "Amazon Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 120],
      "parameters": {
        "url": "https://www.amazon.in/s",
        "method": "GET",
        "responseFormat": "string",
        "queryParameters":{"k":"={{ $json.keywords || 'electronics' }}"},
        "headers":{"User-Agent":"Mozilla/5.0"},
        "options":{"timeout":15000,"continueOnFail":true}
      }
    },
    {
      "name": "Myntra Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 190],
      "parameters": {
        "url": "https://www.myntra.com/{{ $json.keywords || 'men-tshirts' }}",
        "method": "GET",
        "responseFormat": "string",
        "headers":{"User-Agent":"Mozilla/5.0"},
        "options":{"timeout":12000,"continueOnFail":true}
      }
    },
    {
      "name": "Ajio Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 260],
      "parameters": {
        "url": "https://www.ajio.com/search/?text={{ $json.keywords || 'electronics' }}",
        "method": "GET",
        "responseFormat": "string",
        "headers":{"User-Agent":"Mozilla/5.0"},
        "options":{"timeout":12000,"continueOnFail":true}
      }
    },
    {
      "name": "TataCliq Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 330],
      "parameters": {
        "url": "https://www.tatacliq.com/search/?text={{ $json.keywords || 'electronics' }}",
        "method": "GET",
        "responseFormat": "string",
        "headers":{"User-Agent":"Mozilla/5.0"},
        "options":{"timeout":12000,"continueOnFail":true}
      }
    },
    {
      "name": "Croma Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 400],
      "parameters": {
        "url": "https://www.croma.com/search/?text={{ $json.keywords || 'electronics' }}",
        "method": "GET",
        "responseFormat": "string",
        "headers":{"User-Agent":"Mozilla/5.0"},
        "options":{"timeout":12000,"continueOnFail":true}
      }
    },
    {
      "name": "Snapdeal Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 470],
      "parameters": {
        "url": "https://www.snapdeal.com/search?keyword={{ $json.keywords || 'electronics' }}",
        "method": "GET",
        "responseFormat": "string",
        "headers":{"User-Agent":"Mozilla/5.0"},
        "options":{"timeout":12000,"continueOnFail":true}
      }
    },
    {
      "name": "Reliance Digital Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 540],
      "parameters": {
        "url": "https://www.reliancedigital.in/search?q={{ $json.keywords || 'electronics' }}",
        "method": "GET",
        "responseFormat": "string",
        "headers":{"User-Agent":"Mozilla/5.0"},
        "options":{"timeout":12000,"continueOnFail":true}
      }
    },
    {
      "name": "Normalize & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "language": "JavaScript",
        "code": "const norm = s => { try{ if(!s||typeof s!=='string') return null; const cleaned = String(s).replace(/[^0-9.]/g,''); return Number(cleaned.replace(/,/g,'')); } catch(e){ return null; } }; const results=[]; for(const i of items){ try{ if(typeof i.json==='string'){ const text=i.json; const re=/₹\\s*([0-9,]+)/g; const matches=Array.from(text.matchAll(re)).slice(0,5); if(matches.length){ for(const m of matches){ const p=norm(m[1]); if(p) results.push({json:{vendor:'Site', price:p, mrp:null, url:null, timestamp:new Date().toISOString()}}); } } else { results.push({json:{vendor:'Site', raw:text.slice(0,200)}}); } } else { results.push({json:i.json}); } } catch(e){ results.push({json:{error:'normalize_failed', message:e.message}}); } } return results;"
      }
    },
    {
      "name": "Baseline Lookup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT median_price FROM price_baseline WHERE sku = {{ $json.sku ? '\\''+$json.sku+'\\'' : 'NULL' }} LIMIT 1;"
      },
      "credentials": { "postgres": "SUPABASE_CONN" }
    },
    {
      "name": "Deduplicate Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1150, 300],
      "parameters": {
        "operation": "set",
        "key": "={{ 'deal:' + ($json.sku || encodeURIComponent($json.url||'')) + ':' + Math.round($json.price || 0) }}",
        "value": "locked",
        "expirationInSeconds": 86400,
        "setIfNotExists": true
      },
      "credentials": { "redis": "REDIS_CONN" }
    },
    {
      "name": "Flag Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1300, 300],
      "parameters": {
        "conditions": { "boolean": [ { "value1": "={{ $json.price && $json.mrp ? ($json.price/$json.mrp) <= 0.01 : false }}", "operation": "isTrue" } ] }
      }
    },
    {
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 300],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🔥 Loot Alert!\n*{{ $json.vendor || 'No vendor' }}*\nPrice: ₹{{ $json.price }}\n[Open Link]({{ $json.url || '' }})",
        "optionsJson": "{ \"parse_mode\": \"Markdown\", \"disable_web_page_preview\": true }"
      },
      "credentials": { "telegramApi": "TELEGRAM_BOT" }
    }
  ],
  "connections": {
    "Full Site Trigger": { "main": [[{ "node": "Flipkart Fetch","type":"main","index":0},{ "node":"Amazon Fetch","type":"main","index":0},{ "node":"Myntra Fetch","type":"main","index":0},{ "node":"Ajio Fetch","type":"main","index":0},{ "node":"TataCliq Fetch","type":"main","index":0},{ "node":"Croma Fetch","type":"main","index":0},{ "node":"Snapdeal Fetch","type":"main","index":0},{ "node":"Reliance Digital Fetch","type":"main","index":0}]]},
    "Category Trigger": { "main": [[{ "node": "Flipkart Fetch","type":"main","index":0}]]},
    "Trending Trigger": { "main": [[{ "node": "Flipkart Fetch","type":"main","index":0}]]},
    "Flipkart Fetch": { "main": [[{"node":"Normalize & Extract","type":"main","index":0}]]},
    "Amazon Fetch": { "main": [[{"node":"Normalize & Extract","type":"main","index":0}]]},
    "Myntra Fetch": { "main": [[{"node":"Normalize & Extract","type":"main","index":0}]]},
    "Ajio Fetch": { "main": [[{"node":"Normalize & Extract","type":"main","index":0}]]},
    "TataCliq Fetch": { "main": [[{"node":"Normalize & Extract","type":"main","index":0}]]},
    "Croma Fetch": { "main": [[{"node":"Normalize & Extract","type":"main","index":0}]]},
    "Snapdeal Fetch": { "main": [[{"node":"Normalize & Extract","type":"main","index":0}]]},
    "Reliance Digital Fetch": { "main": [[{"node":"Normalize & Extract","type":"main","index":0}]]},
    "Normalize & Extract": { "main": [[{"node":"Baseline Lookup","type":"main","index":0}]]},
    "Baseline Lookup": { "main": [[{"node":"Deduplicate Redis","type":"main","index":0}]]},
    "Deduplicate Redis": { "main": [[{"node":"Flag Filter","type":"main","index":0}]]},
    "Flag Filter": { "main": [[{"node":"Telegram Alert","type":"main","index":0}]]}
  }
}
